body {
  /*padding-top: 5px;*/
  padding-bottom: 20px;
}

/*.header,
.footer {
    padding: 15px 15px 15px 15px;
}*/


#header-img {
    padding-top: 5px;
}


#left-container, #right-container {
    text-align: center;
    padding: 15px 15px 15px 15px;
}

#dropdown-btn {
    display: inline-block;
}

/*#left-container {
    background-color: #FC6E51;
}

#right-container {
    background-color: #4FC1E9;
}*/

.table th {
    text-align: center;
}

#collapse-search-btn {
 /*   position: absolute;
    right: 20px;
    top: 20px;*/
    margin: 10px 20px 10px;
}

#email-body {
    resize: none;
}